* {
  margin: 0;
  padding: 0;
  color: white;
  scrollbar-width: 3px;
  scrollbar-color: #6E56FD #000000;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #6E56FD;
  border-radius: 10px;
}


.background {
  background-color:#08080D;
background-image:
radial-gradient(at 0% 0%, #11111B 0px, transparent 50%),
radial-gradient(at 30% 29%, #11111B 0px, transparent 50%);
}